/* 
   Some simple Github-like styles, with syntax highlighting CSS via Pygments.
*/
html {
	background:#fff;
	margin:0;
	padding:1em;
}
body{
	font: 13.34px helvetica,arial,freesans,clean,sans-serif;
	line-height: 1.4em;
	color: #333;
	background:#F8F8F8;
	border: none;
	line-height: 1.5;
	margin: 0;
	padding:.7em;
	text-align:left;
	color:black;
	width:920px;
	border:1px solid #E9E9E9;
}
h1 {
	font-size: 170%;
	border-top: 4px solid #aaa;
	padding-top: .5em;
	margin-top: 1.5em;
}

h1:first-child {
	margin-top: 0 !important;
	padding-top: .25em !important;
	border-top: none !important;
}

h2 {
	font-size: 150%;
	margin-top: 1.5em;
	border-top: 4px solid #e0e0e0;
	padding-top: .5em;
}

h3 {
	margin-top: 1em;
}

br+br {
	line-height:0;
	height:0;
	display:none;
}

p {
	margin: 1em 0!important;
	line-height: 1.5em!important;
}


.highlight pre {
	font: 12px 'Bitstream Vera Sans Mono','Courier',monospace !important;
	margin: 1em 0;
	background-color: #EEE;
	border: 1px solid #DDD;
	padding: 5px;
	overflow: auto;
	-webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px inset;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #444;
	white-space: pre-wrap;
	word-wrap: break-word;
}
code {
	font: 12px 'Bitstream Vera Sans Mono','Courier',monospace !important;
	background-color: ghostWhite;
	color: #444;
	padding: 0 .2em;
	border: 1px solid #DEDEDE;
}
a, a code {
	color: #4183C4;
	text-decoration:none;
}

.shadow{
	-webkit-box-shadow:0 5px 15px #000;
	-moz-box-shadow:0 5px 15px #000;
	box-shadow:0 5px 15px #000;		
}


.c{color:#998;font-style:italic;}
.err{color:#a61717;background-color:#e3d2d2;}
.k{font-weight:bold;}
.o{font-weight:bold;}
.cm{color:#998;font-style:italic;}
.cp{color:#999;font-weight:bold;}
.c1{color:#998;font-style:italic;}
.cs{color:#999;font-weight:bold;font-style:italic;}
.gd{color:#000;background-color:#fdd;}
.gd .x{color:#000;background-color:#faa;}
.ge{font-style:italic;}
.gr{color:#a00;}
.gh{color:#999;}
.gi{color:#000;background-color:#dfd;}
.gi .x{color:#000;background-color:#afa;}
.go{color:#888;}
.gp{color:#555;}
.gs{font-weight:bold;}
.gu{color:#800080;font-weight:bold;}
.gt{color:#a00;}
.kc{font-weight:bold;}
.kd{font-weight:bold;}
.kn{font-weight:bold;}
.kp{font-weight:bold;}
.kr{font-weight:bold;}
.kt{color:#458;font-weight:bold;}
.m{color:#099;}
.s{color:#d14;}
.na{color:#008080;}
.nb{color:#0086B3;}
.nc{color:#458;font-weight:bold;}
.no{color:#008080;}
.ni{color:#800080;}
.ne{color:#900;font-weight:bold;}
.nf{color:#900;font-weight:bold;}
.nn{color:#555;}
.nt{color:#000080;}
.nv{color:#008080;}
.ow{font-weight:bold;}
.w{color:#bbb;}
.mf{color:#099;}
.mh{color:#099;}
.mi{color:#099;}
.mo{color:#099;}
.sb{color:#d14;}
.sc{color:#d14;}
.sd{color:#d14;}
.s2{color:#d14;}
.se{color:#d14;}
.sh{color:#d14;}
.si{color:#d14;}
.sx{color:#d14;}
.sr{color:#009926;}
.s1{color:#d14;}
.ss{color:#990073;}
.bp{color:#999;}
.vc{color:#008080;}
.vg{color:#008080;}
.vi{color:#008080;}
.il{color:#099;}